@import "_abstracts/variables";

.wrapper_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  max-width: 780px;
  height: calc(100vh - 103px);
  margin: 0 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .wrapper_card {
    padding: 10px;
    height: 389px;
    color: $color_hologram;
    font-weight: normal;
    border: currentColor solid 2px;
    text-shadow: 0 0 0.125em hsl(0 0% 100%/0.3), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
    .content_card {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .title_card {
        height: 89px;
        border-bottom: currentColor solid 2px;
        position: relative;
        .content_title_card {
          position: absolute;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          .title_card {
            border: currentColor solid 2px;
            box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
            height: 50px;
            display: flex;
            h3 {
              position: absolute;
              top: 10px;
              font-weight: bold;
              font-size: 35px;
              font-family: "Fauna Pro", sans-serif;
              font-style: italic;
              transform: translateX(100%);
              animation: scrolling 4s linear infinite;
              white-space: nowrap;
            }
          }
          p {
            font-size: 24px;
          }
        }
      }
      .link_mint {
        text-align: center;
        height: 77px;
        position: relative;
        font-size: 18px;
        bottom: 5px;
        .content_link_mint {
          position: absolute;
          width: 100%;
          bottom: 0;
          p {
            font-weight: bold;
          }
          .button {
            position: relative;
            border: currentColor solid 2px;
            box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
            width: 192px;
            height: 34px;
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .wrapper_visual_project {
        text-align: center;
        position: relative;
        height: 222px;
        border: currentColor solid 2px;
        box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
        font-size: 36px;
        .content_visual_project {
          position: absolute;
          margin: 4px 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          h4 {
            // background-color: darksalmon;
          }
          .visual_project {
            // background-color: cornflowerblue;
            height: 135px;
          }
        }
      }
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
