.wrapper_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  max-width: 780px;
  height: calc(100vh - 103px);
  margin: 0 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .wrapper_card {
    background-color: black;
    padding: 10px;
    height: 389px;
    color: #aaff98;
    font-weight: 100;
    .content_card {
      display: flex;
      flex-direction: column;
      // background-color: rgb(140, 96, 180);
      width: 100%;
      height: 100%;
      .title_card {
        // background-color: crimson;
        height: 89px;
        border-bottom: #beff00 solid 1px;
        position: relative;
        .content_title_card {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          h3 {
            text-align: center;
            border: #beff00 solid 1px;
            padding: 10px 0;
            font-weight: bold;
            font-size: 21px;
            font-family: "Fauna Pro", sans-serif;
            font-style: italic;
          }
          p {
            font-size: 24px;
          }
        }
      }
      .link_mint {
        // background-color: gold;
        text-align: center;
        height: 77px;
        position: relative;
        font-size: 18px;
        bottom: 5px;
        .content_link_mint {
          // background-color: darksalmon;
          position: absolute;
          width: 100%;
          bottom: 0;
          .button {
            position: relative;
            background-color: coral;
            width: 200px;
            height: 34px;
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .wrapper_visual_project {
        // background-color: darkkhaki;
        text-align: center;
        position: relative;
        height: 222px;
        border: #beff00 solid 1px;
        font-size: 36px;
        .content_visual_project {
          position: absolute;
          margin: 4px 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          h4 {
            // background-color: darksalmon;
          }
          .visual_project {
            background-color: cornflowerblue;
            height: 135px;
          }
        }
      }
    }
  }
}
