#wrapper_list_saison {
  display: grid;
  grid-template-columns: 55% 1fr;
  gap: 10px;
  #container_list {
    position: relative;
    //background-color: skyblue;
    height: calc(100vh - 160px);
    #list_saison {
      position: absolute;
      top: 25%;
      //background-color: salmon;
      li {
        display: block;
        letter-spacing: 3px;
        line-height: 5vmax;
        font-size: 2vw;
      }
      :nth-child(1) {
        font-weight: bold;
        background-color: black;
        display: inline;
        font-size: 4vw;
        padding: 10px;
      }
    }
  }
  #text_presentation {
    //background-color: skyblue;
    p {
      margin: 0 auto;
      margin-top: 5rem;
      width: 35vw;
      font-family: "Fauna Pro", sans-serif;
      font-size: 2rem;
      letter-spacing: 3px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    #canvasForPreviewSaison {
      width: 100%;
      height: 100%;
    }
  }
}
