@import "_abstracts/variables";
@import "../_abstracts/_mixins.scss";

.wapper_header {
  // background-color: blanchedalmond;
  height: 53px;
  margin-top: $padding-top-screen;
  font-family: "Fauna Pro", sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      flex: auto;
      margin-right: 2rem;
      font-family: "Halcyon", sans-serif;
      font-weight: 100;
      font-size: 3.5rem;
      @include transitionAll();
      &:not(.icon3D) {
        opacity: 0.7;
      }
      &:hover {
        opacity: 1;
        border-bottom: white solid 3px;
      }
    }

    .icon3D {
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
