@import "_abstracts/variables";
$totalSpans: 17;

.galaxy {
  position: relative;
  .group_galaxy {
    transform-box: fill-box;
    position: absolute;
    transform-origin: 192px 135px;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: wheel 2s infinite linear;
    animation: wheel 2s infinite linear;
    path,
    circle {
      filter: drop-shadow(1px 2px 2px $color_hologram);
      fill: $color_hologram;
      transform: translateX(50px) translateY(25px);
    }
  }

  @keyframes wheel {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  @-webkit-keyframes wheel {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}

.wrapper_earth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  transform-style: preserve-3d;
  .earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    opacity: 1;
    background: url(../../public/unwrap_planet.jpeg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    border: $color_hologram solid 2px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.466), 0 0 60px $color_hologram;
    animation: animateEarth 25s linear infinite;
  }
  .belt {
    transform-style: preserve-3d;
    animation: animateText 10s linear infinite;
    span {
      position: absolute;
      top: 0;
      left: 0;
      color: $color_hologram;
      font-size: 3rem;
      font-weight: bold;
      transform-origin: center;
      transform-style: preserve-3d;
      padding: 3px 12px;
      text-shadow: 0 0 0.125em hsl(0 0% 100%/0.3), 0 0 0.25em $color_hologram;
    }
    @for $i from 1 through $totalSpans {
      ._#{$i} {
        transform: rotateY(calc($i * calc(360deg / $totalSpans)))
          translateZ(70px);
      }
    }
  }
}
@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 0;
  }
}

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
}
