@import "../_abstracts/_mixins.scss";

.wrapper_text {
  position: absolute;
  bottom: 80px;
  width: 900px;
  p {
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: "Fauna Pro", sans-serif;
  }
}
