@import "_abstracts/variables";

.main_wrapper {
  // background-color: cadetblue;
  width: calc(100% - ($marge-side-content * 2));
  height: calc(100vh - $padding-top-screen);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 35px;
    margin-top: 2rem;
    main {
      // background-color: darkgoldenrod;
      order: -1;
    }
  }
}
