@font-face {
  font-family: "Fauna Pro";
  src: url(../../public/fonts/FaunaPro/fauna_pro_-_extra_light-webfont.woff2),
    url(../../public/fonts/FaunaPro/fauna_pro_-_extra_light-webfont.woff),
    url(../../public/fonts/FaunaPro/fauna_pro_-_extra_light-webfont.ttf);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fauna Pro";
  src: url(../../public/fonts/FaunaPro/fauna_pro_-_regular-webfont.woff2),
    url(../../public/fonts/FaunaPro/fauna_pro_-_regular-webfont.woff),
    url(../../public/fonts/FaunaPro/fauna_pro_-_regular-webfont.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fauna Pro";
  src: url(../../public/fonts/FaunaPro/fauna_pro_-_bold-webfont.woff2),
    url(../../public/fonts/FaunaPro/fauna_pro_-_bold-webfont.woff),
    url(../../public/fonts/FaunaPro/fauna_pro_-_bold-webfont.ttf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halcyon";
  src: url(../../public/fonts/Halcyon/halcyon_regular-webfont.woff2),
    url(../../public/fonts/Halcyon/halcyon_regular-webfont.woff),
    url(../../public/fonts/Halcyon/halcyon_regular-webfont.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halcyon";
  src: url(../../public/fonts/Halcyon/halcyon_thin-webfont.woff2),
    url(../../public/fonts/Halcyon/halcyon_thin-webfont.woff),
    url(../../public/fonts/Halcyon/halcyon_thin-webfont.ttf);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
