html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Halcyon", sans-serif;
  font-size: 3rem;
  color: white;
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -11;
  top: 0;
}
.filter_dark {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  z-index: -10;
}
